<app-card [options]="false">
  <div class="mt-5">
    <app-toast-message></app-toast-message>
    <div class="text-end">
      <button type="button" class="btn custom-button" (click)="addRow()" [disabled]="currentlyEditingIndex !== -1">
        <i class="fas fa-plus"></i> Add Role
      </button>      
    </div>

    <div class="table-wrapper">
      <table class="table table-bordered mt-2">
        <thead>
          <tr class="inner-shadow">
            <th class="sl-no-header">SL No</th>
            <th class="role-name-header">Role Name</th>
            <th class="action-header">Action</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of paginatedRows; let i = index">
            <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
            <td>
              <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.roleName"  (input)="sanitizeInput(row)"  class="form-control">
              <span *ngIf="!row.isEditing">{{ row.roleName }}</span>
            </td>
            <td>
              <span class="mx-2 save-icon" *ngIf="row.isEditing" (click)="saveRow(row)">
                <i class="fas fa-check fa-lg"></i>
              </span>
              <span class="mx-2 edit-icon" *ngIf="!row.isEditing && currentlyEditingIndex === -1" (click)="editRow(row)">
                <i class="fas fa-pen fa-lg"></i>
              </span>
              <span class="mx-2 delete-icon" *ngIf="!row.isEditing" (click)="deleteRow(row.roleid)">
                <i class="fas fa-trash fa-lg"></i>
              </span>
              <span class="mx-2 cancel-icon" *ngIf="row.isEditing" (click)="cancelEdit(row, i)">
                <i class="fas fa-times fa-lg"></i>
              </span>              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-end mt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1">Previous</button>
          </li>
          <li class="page-item" [class.active]="page === currentPage"
            *ngFor="let page of [].constructor(totalPages); let i = index">
            <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages">Next</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</app-card>
<div class=" blurry-background ">
  <div class="footer">
    <div class="footer-content">

    </div>
  </div>
</div>